In [44]:
# If not already installed, do: pip install pandas fastparquet
import pandas as pd

URL_DATA = 'https://storage.googleapis.com/dosm-public-dashboards/kawasanku_admin_barmeter.parquet' #dataset to district level
# URL_DATA = 'https://storage.googleapis.com/dosm-public-dashboards/kawasanku_electoral_barmeter.parquet' #dataset to DUN level

df = pd.read_parquet(URL_DATA)
if 'date' in df.columns: df['date'] = pd.to_datetime(df['date'])

df
# Filter data by Tahun variable
# year = 'dun'
# df_filtered = df[df['area_type'] == year].reset_index()
# df_filtered

     area_type            area        chart       variable      value
0      country        Malaysia          sex           male  52.288396
1      country        Malaysia          sex         female  47.711604
2      country        Malaysia     agegroup          child  26.417660
3      country        Malaysia     agegroup        working  68.293245
4      country        Malaysia     agegroup        elderly   5.289095
...        ...             ...          ...            ...        ...
3712     state  W.P. Putrajaya  nationality        foreign   2.583286
3713     state  W.P. Putrajaya      marital  never_married  27.733099
3714     state  W.P. Putrajaya      marital        married  68.020471
3715     state  W.P. Putrajaya      marital        widowed   2.036675
3716     state  W.P. Putrajaya      marital       divorced   2.209755

[3717 rows x 5 columns]

In [45]:
# df = df.query("area_type == 'dun' and chart == 'labour'").reset_index()
df2 = df.query("area_type == 'country'").reset_index()

# Example dataframe

# Pivot the dataframe to create separate columns for each value of 'variable'
df_pivoted = df2.pivot(index=['area_type', 'area'], columns=['chart','variable'], values='value').reset_index()

MASlevel = df_pivoted.T

In [50]:
dfM = pd.DataFrame(MASlevel)
dfM
dfM.to_csv('kawasanku_malaysia2021.csv', index=True)

In [46]:
df3 = df.query("area_type == 'district'").reset_index()

# Example dataframe

# Pivot the dataframe to create separate columns for each value of 'variable'
df_pivoted = df3.pivot(index=['area_type', 'area'], columns=['chart','variable'], values='value').reset_index()
df_pivoted
df_pivoted.to_csv('kawasanku_district2021.csv', index=False)

In [47]:
df4 = df.query("area_type == 'state'").reset_index()

# Example dataframe

# Pivot the dataframe to create separate columns for each value of 'variable'
df_pivoted = df4.pivot(index=['area_type', 'area'], columns=['chart','variable'], values='value').reset_index()
df_pivoted
df_pivoted.to_csv('kawasanku_state2021.csv', index=False)

In [3]:
df.columns

Index(['area_type', 'area', 'chart', 'variable', 'value'], dtype='object')

In [4]:
set(df.area_type)

{'country', 'district', 'state'}

In [9]:
# pip install sidetable

In [10]:
import pandas as pd
import sidetable as stb

In [11]:
# Define the path to the CSV file
file_path = 'jadual2.2.csv'

# Read the CSV file with specific columns
df = pd.read_csv(file_path)#, usecols=selected_cols)
df

,dun_neg,Kod_Dun,Nama_Dun,Kod_Par,Nama_Par,Kod_Ng,Ng,JUMLAH_PENDUDUK,WARGANEGARA,BUKAN_WARGA,...,P.UMUR_0_14,P.UMUR_15_64,P.UMUR_65_LEBIH,P.UMUR_18_LEBIH,P.JUMLAH_NISBAH_TANGGUNGAN,P.UMUR_MUDA,P.UMUR_TUA,P.NISBAH_JANTINA,P.KEPADATAN_PENDUDUK,TAHUN
0,N.01_09,N.01,Titi Tinggi,P.001,Padang Besar,9,Perlis,18.9,18.3,0.6,...,21.2,70.4,8.4,69.7,42.1,30.1,12.0,105.0,194.717778,2021
1,N.01_09,N.01,Titi Tinggi,P.001,Padang Besar,9,Perlis,19.0,18.4,0.6,...,21.1,70.2,8.7,71.9,42.4,30.1,12.3,104.9,196.184444,2022
2,N.02_09,N.02,Beseri,P.001,Padang Besar,9,Perlis,18.3,17.1,1.2,...,21.2,70.4,8.4,69.7,42.1,30.1,12.0,105.0,194.717778,2021
3,N.02_09,N.02,Beseri,P.001,Padang Besar,9,Perlis,18.4,17.2,1.3,...,21.1,70.2,8.7,71.9,42.4,30.1,12.3,104.9,196.184444,2022
4,N.03_09,N.03,Chuping,P.001,Padang Besar,9,Perlis,24.5,23.5,1.0,...,21.2,70.4,8.4,69.7,42.1,30.1,12.0,105.0,194.717778,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1221,N.80_13,N.80,Batu Danau,P.221,Limbang,13,Sarawak,13.4,12.9,0.5,...,24.7,67.7,7.6,69.8,47.7,36.5,11.2,105.3,10.775588,2022
1222,N.81_13,N.81,Ba`Kelalan,P.222,Lawas,13,Sarawak,9.7,9.4,0.3,...,26.2,65.9,7.9,68.1,51.8,39.9,12.0,104.4,9.458987,2021
1223,N.81_13,N.81,Ba`Kelalan,P.222,Lawas,13,Sarawak,9.7,9.4,0.3,...,25.7,66.1,8.2,68.8,51.2,38.9,12.4,104.0,9.479043,2022
1224,N.82_13,N.82,Bukit Sari,P.222,Lawas,13,Sarawak,27.1,25.7,1.4,...,26.2,65.9,7.9,68.1,51.8,39.9,12.0,104.4,9.458987,2021
1225,N.82_13,N.82,Bukit Sari,P.222,Lawas,13,Sarawak,27.1,25.8,1.3,...,25.7,66.1,8.2,68.8,51.2,38.9,12.4,104.0,9.479043,2022

In [12]:
df.columns

Index(['dun_neg', 'Kod_Dun', 'Nama_Dun', 'Kod_Par', 'Nama_Par', 'Kod_Ng', 'Ng',
       'JUMLAH_PENDUDUK', 'WARGANEGARA', 'BUKAN_WARGA', 'LELAKI', 'PEREMPUAN',
       'WARGANEGARA(%)', 'BUKAN_WARGA(%)', 'BUMIPUTERA(%)', 'CINA(%)',
       'INDIA(%)', 'LAIN-LAIN(%)', 'UMUR_0_14', 'UMUR_15_64', 'UMUR_65_LEBIH',
       'UMUR_18_LEBIH', 'JUMLAH_NISBAH_TANGGUNGAN', 'UMUR_MUDA', 'UMUR_TUA',
       'NISBAH_JANTINA', 'KEPADATAN_PENDUDUK', 'P.JUMLAH_PENDUDUK',
       'P.WARGANEGARA', 'P.BUKAN_WARGA', 'P.LELAKI', 'P.PEREMPUAN',
       'P.WARGANEGARA(%)', 'P.BUKAN_WARGA(%)', 'P.BUMIPUTERA(%)', 'P.CINA(%)',
       'P.INDIA(%)', 'P.LAIN-LAIN(%)', 'P.UMUR_0_14', 'P.UMUR_15_64',
       'P.UMUR_65_LEBIH', 'P.UMUR_18_LEBIH', 'P.JUMLAH_NISBAH_TANGGUNGAN',
       'P.UMUR_MUDA', 'P.UMUR_TUA', 'P.NISBAH_JANTINA', 'P.KEPADATAN_PENDUDUK',
       'TAHUN'],
      dtype='object')

In [13]:
# Define the path to the CSV file
file_path = 'jadual2.2.csv'

# Define the columns you want to read
selected_cols = ['Kod_Dun', 'Nama_Dun', 'Kod_Par', 'Nama_Par', 'Ng','LELAKI', 'PEREMPUAN','WARGANEGARA(%)', 'BUKAN_WARGA(%)', 'BUMIPUTERA(%)', 'CINA(%)',
       'INDIA(%)', 'LAIN-LAIN(%)', 'UMUR_0_14', 'UMUR_15_64', 'UMUR_65_LEBIH','TAHUN']

# Read the CSV file with specific columns
df = pd.read_csv(file_path , usecols=selected_cols)

df['dun'] = df['Kod_Dun'] + " " + df['Nama_Dun']
df['parlimen'] = df['Kod_Par'] + " " + df['Nama_Par']

df = df[['dun', 'parlimen','Ng', 'LELAKI', 'PEREMPUAN', 'WARGANEGARA(%)', 'BUKAN_WARGA(%)', 'BUMIPUTERA(%)','CINA(%)', 'INDIA(%)', 'LAIN-LAIN(%)', 'UMUR_0_14', 'UMUR_15_64','UMUR_65_LEBIH','TAHUN']]
df.columns = ['dun','parlimen','Ng','male','female','local','foreign','bumi','chinese','indian','other','child','working','elderly','year']

# Filter data by Tahun variable
year = 2022
df_filtered = df[df['year'] == year].reset_index()

df2_2 = df_filtered
df2_2.shape

(613, 16)

In [14]:
df2_2

,index,dun,parlimen,Ng,male,female,local,foreign,bumi,chinese,indian,other,child,working,elderly,year
0,1,N.01 Titi Tinggi,P.001 Padang Besar,Perlis,10.0,9.0,96.8,3.2,81.0,15.2,2.8,1.0,20.5,71.7,7.8,2022
1,3,N.02 Beseri,P.001 Padang Besar,Perlis,9.2,9.2,93.1,6.9,93.5,4.9,0.6,1.0,20.4,71.6,8.0,2022
2,5,N.03 Chuping,P.001 Padang Besar,Perlis,12.8,11.8,95.9,4.1,84.9,3.7,2.8,8.6,23.3,68.7,8.0,2022
3,7,N.04 Mata Ayer,P.001 Padang Besar,Perlis,6.1,6.0,99.1,0.9,97.6,1.1,0.6,0.7,20.1,70.7,9.2,2022
4,9,N.05 Santan,P.001 Padang Besar,Perlis,7.0,7.1,98.2,1.8,99.8,0.1,0.0,0.1,20.0,68.7,11.3,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
608,1217,N.78 Mulu,P.220 Baram,Sarawak,7.8,7.0,98.8,1.2,97.6,2.4,0.0,0.0,23.3,68.4,8.3,2022
609,1219,N.79 Bukit Kota,P.221 Limbang,Sarawak,16.2,15.7,98.2,1.8,84.1,15.5,0.1,0.3,25.5,68.0,6.5,2022
610,1221,N.80 Batu Danau,P.221 Limbang,Sarawak,7.1,6.4,96.4,3.6,97.9,1.9,0.0,0.2,22.8,67.1,10.1,2022
611,1223,N.81 Ba`Kelalan,P.222 Lawas,Sarawak,5.0,4.7,96.9,3.1,98.0,1.6,0.1,0.3,24.4,64.5,11.1,2022
612,1225,N.82 Bukit Sari,P.222 Lawas,Sarawak,13.8,13.4,95.2,4.8,90.8,8.6,0.1,0.5,26.2,66.6,7.2,2022

In [15]:
# Define the path to the CSV file
file_path = 'jadual3.csv'

# Define the columns you want to read
selected_cols = ['Dimiliki', 'Disewa', 'Kuarters']

# Read the CSV file with specific columns
df = pd.read_csv(file_path, usecols=selected_cols)

df.columns = [ 'owned','rented','quarters']
df3 = df
df3.shape

(613, 3)

In [16]:
df3

         owned     rented   quarters
0    83.358919   7.552963   9.088118
1    85.525000  13.250000   1.225000
2    83.419689   0.647668  15.958549
3    94.500561   5.499439   0.000000
4    93.229018   6.770982   0.000000
..         ...        ...        ...
608  84.900000   5.000000  10.100000
609  79.500000   7.100000  13.400000
610  83.600000   6.600000   9.800000
611  84.900000   6.300000   8.800000
612  82.400000   8.000000   9.600000

[613 rows x 3 columns]

In [17]:
# Define the path to the CSV file
file_path = 'jadual4.csv'

# Define the columns you want to read
selected_cols = ['P.Penduduk_bekerja','P.Penganggur', 'P.Luar_tenaga_buruh']

# Read the CSV file with specific columns
df = pd.read_csv(file_path,usecols=selected_cols)

df.columns = ['working','unemployed','out']
df4 = df
df4.shape

(613, 3)

In [18]:
df4

     working  unemployed   out
0       31.2         1.5  18.1
1       31.2         1.5  18.1
2       31.2         1.5  18.1
3       31.2         1.5  18.1
4       31.2         1.5  18.1
..       ...         ...   ...
608     34.5         2.0  19.5
609     22.9         1.6  11.4
610     22.9         1.6  11.4
611     18.8         1.2   8.2
612     18.8         1.2   8.2

[613 rows x 3 columns]

In [19]:
df_all = pd.concat([df2_2,df3,df4],axis=1)
df_all

,index,dun,parlimen,Ng,male,female,local,foreign,bumi,chinese,...,child,working,elderly,year,owned,rented,quarters,working,unemployed,out
0,1,N.01 Titi Tinggi,P.001 Padang Besar,Perlis,10.0,9.0,96.8,3.2,81.0,15.2,...,20.5,71.7,7.8,2022,83.358919,7.552963,9.088118,31.2,1.5,18.1
1,3,N.02 Beseri,P.001 Padang Besar,Perlis,9.2,9.2,93.1,6.9,93.5,4.9,...,20.4,71.6,8.0,2022,85.525000,13.250000,1.225000,31.2,1.5,18.1
2,5,N.03 Chuping,P.001 Padang Besar,Perlis,12.8,11.8,95.9,4.1,84.9,3.7,...,23.3,68.7,8.0,2022,83.419689,0.647668,15.958549,31.2,1.5,18.1
3,7,N.04 Mata Ayer,P.001 Padang Besar,Perlis,6.1,6.0,99.1,0.9,97.6,1.1,...,20.1,70.7,9.2,2022,94.500561,5.499439,0.000000,31.2,1.5,18.1
4,9,N.05 Santan,P.001 Padang Besar,Perlis,7.0,7.1,98.2,1.8,99.8,0.1,...,20.0,68.7,11.3,2022,93.229018,6.770982,0.000000,31.2,1.5,18.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
608,1217,N.78 Mulu,P.220 Baram,Sarawak,7.8,7.0,98.8,1.2,97.6,2.4,...,23.3,68.4,8.3,2022,84.900000,5.000000,10.100000,34.5,2.0,19.5
609,1219,N.79 Bukit Kota,P.221 Limbang,Sarawak,16.2,15.7,98.2,1.8,84.1,15.5,...,25.5,68.0,6.5,2022,79.500000,7.100000,13.400000,22.9,1.6,11.4
610,1221,N.80 Batu Danau,P.221 Limbang,Sarawak,7.1,6.4,96.4,3.6,97.9,1.9,...,22.8,67.1,10.1,2022,83.600000,6.600000,9.800000,22.9,1.6,11.4
611,1223,N.81 Ba`Kelalan,P.222 Lawas,Sarawak,5.0,4.7,96.9,3.1,98.0,1.6,...,24.4,64.5,11.1,2022,84.900000,6.300000,8.800000,18.8,1.2,8.2
612,1225,N.82 Bukit Sari,P.222 Lawas,Sarawak,13.8,13.4,95.2,4.8,90.8,8.6,...,26.2,66.6,7.2,2022,82.400000,8.000000,9.600000,18.8,1.2,8.2

## to all percatages

In [20]:
# del df_all

In [21]:
df_all.columns

Index(['index', 'dun', 'parlimen', 'Ng', 'male', 'female', 'local', 'foreign',
       'bumi', 'chinese', 'indian', 'other', 'child', 'working', 'elderly',
       'year', 'owned', 'rented', 'quarters', 'working', 'unemployed', 'out'],
      dtype='object')

In [22]:
df_all.columns = ['index', 'dun', 'parlimen', 'Ng', 'male', 'female', 'local', 'foreign',
       'bumi', 'chinese', 'indian', 'other', 'child', 'workingP', 'elderly',
       'year', 'owned', 'rented', 'quarters', 'working', 'unemployed', 'out']

In [23]:
# Calculate the total number of genders
df_all['totalgender'] = df_all['male'] + df_all['female']

# Calculate the percentage of male and female, rounded to 1 decimal place
df_all['male'] = round((df_all['male'] / df_all['totalgender']) * 100, 1)
df_all['female'] = round((df_all['female'] / df_all['totalgender']) * 100, 1)

In [24]:
# Calculate the total number of labour
df_all['totallabour'] = df_all['working'] + df_all['unemployed']  + df_all['out']

# Calculate the percentage of male and female, rounded to 1 decimal place
df_all['working'] = round((df_all['working'] / df_all['totallabour']) * 100, 1)
df_all['unemployed'] = round((df_all['unemployed'] / df_all['totallabour']) * 100, 1)
df_all['out'] = round((df_all['out'] / df_all['totallabour']) * 100, 1)

In [25]:
df_all = df_all.drop(['totalgender', 'totallabour'], axis=1)
df_all

,index,dun,parlimen,Ng,male,female,local,foreign,bumi,chinese,...,child,workingP,elderly,year,owned,rented,quarters,working,unemployed,out
0,1,N.01 Titi Tinggi,P.001 Padang Besar,Perlis,52.6,47.4,96.8,3.2,81.0,15.2,...,20.5,71.7,7.8,2022,83.358919,7.552963,9.088118,61.4,3.0,35.6
1,3,N.02 Beseri,P.001 Padang Besar,Perlis,50.0,50.0,93.1,6.9,93.5,4.9,...,20.4,71.6,8.0,2022,85.525000,13.250000,1.225000,61.4,3.0,35.6
2,5,N.03 Chuping,P.001 Padang Besar,Perlis,52.0,48.0,95.9,4.1,84.9,3.7,...,23.3,68.7,8.0,2022,83.419689,0.647668,15.958549,61.4,3.0,35.6
3,7,N.04 Mata Ayer,P.001 Padang Besar,Perlis,50.4,49.6,99.1,0.9,97.6,1.1,...,20.1,70.7,9.2,2022,94.500561,5.499439,0.000000,61.4,3.0,35.6
4,9,N.05 Santan,P.001 Padang Besar,Perlis,49.6,50.4,98.2,1.8,99.8,0.1,...,20.0,68.7,11.3,2022,93.229018,6.770982,0.000000,61.4,3.0,35.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
608,1217,N.78 Mulu,P.220 Baram,Sarawak,52.7,47.3,98.8,1.2,97.6,2.4,...,23.3,68.4,8.3,2022,84.900000,5.000000,10.100000,61.6,3.6,34.8
609,1219,N.79 Bukit Kota,P.221 Limbang,Sarawak,50.8,49.2,98.2,1.8,84.1,15.5,...,25.5,68.0,6.5,2022,79.500000,7.100000,13.400000,63.8,4.5,31.8
610,1221,N.80 Batu Danau,P.221 Limbang,Sarawak,52.6,47.4,96.4,3.6,97.9,1.9,...,22.8,67.1,10.1,2022,83.600000,6.600000,9.800000,63.8,4.5,31.8
611,1223,N.81 Ba`Kelalan,P.222 Lawas,Sarawak,51.5,48.5,96.9,3.1,98.0,1.6,...,24.4,64.5,11.1,2022,84.900000,6.300000,8.800000,66.7,4.3,29.1
612,1225,N.82 Bukit Sari,P.222 Lawas,Sarawak,50.7,49.3,95.2,4.8,90.8,8.6,...,26.2,66.6,7.2,2022,82.400000,8.000000,9.600000,66.7,4.3,29.1

In [26]:
import pandas as pd
import numpy as np

def convert_to_float(df, exclude=[]):
    # Select columns that contain numeric data
    numeric_cols = df.select_dtypes(include=[np.number]).columns.tolist()

    # Remove excluded columns from numeric columns list
    numeric_cols = [col for col in numeric_cols if col not in exclude]

    # Round all numeric columns to 1 decimal place
    df[numeric_cols] = df[numeric_cols].astype(float).round(1)

    return df

In [27]:
convert_to_float(df_all, ['year'])
df_all

,index,dun,parlimen,Ng,male,female,local,foreign,bumi,chinese,...,child,workingP,elderly,year,owned,rented,quarters,working,unemployed,out
0,1.0,N.01 Titi Tinggi,P.001 Padang Besar,Perlis,52.6,47.4,96.8,3.2,81.0,15.2,...,20.5,71.7,7.8,2022,83.4,7.6,9.1,61.4,3.0,35.6
1,3.0,N.02 Beseri,P.001 Padang Besar,Perlis,50.0,50.0,93.1,6.9,93.5,4.9,...,20.4,71.6,8.0,2022,85.5,13.2,1.2,61.4,3.0,35.6
2,5.0,N.03 Chuping,P.001 Padang Besar,Perlis,52.0,48.0,95.9,4.1,84.9,3.7,...,23.3,68.7,8.0,2022,83.4,0.6,16.0,61.4,3.0,35.6
3,7.0,N.04 Mata Ayer,P.001 Padang Besar,Perlis,50.4,49.6,99.1,0.9,97.6,1.1,...,20.1,70.7,9.2,2022,94.5,5.5,0.0,61.4,3.0,35.6
4,9.0,N.05 Santan,P.001 Padang Besar,Perlis,49.6,50.4,98.2,1.8,99.8,0.1,...,20.0,68.7,11.3,2022,93.2,6.8,0.0,61.4,3.0,35.6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
608,1217.0,N.78 Mulu,P.220 Baram,Sarawak,52.7,47.3,98.8,1.2,97.6,2.4,...,23.3,68.4,8.3,2022,84.9,5.0,10.1,61.6,3.6,34.8
609,1219.0,N.79 Bukit Kota,P.221 Limbang,Sarawak,50.8,49.2,98.2,1.8,84.1,15.5,...,25.5,68.0,6.5,2022,79.5,7.1,13.4,63.8,4.5,31.8
610,1221.0,N.80 Batu Danau,P.221 Limbang,Sarawak,52.6,47.4,96.4,3.6,97.9,1.9,...,22.8,67.1,10.1,2022,83.6,6.6,9.8,63.8,4.5,31.8
611,1223.0,N.81 Ba`Kelalan,P.222 Lawas,Sarawak,51.5,48.5,96.9,3.1,98.0,1.6,...,24.4,64.5,11.1,2022,84.9,6.3,8.8,66.7,4.3,29.1
612,1225.0,N.82 Bukit Sari,P.222 Lawas,Sarawak,50.7,49.3,95.2,4.8,90.8,8.6,...,26.2,66.6,7.2,2022,82.4,8.0,9.6,66.7,4.3,29.1

In [29]:
df_all.stb.freq(['Ng'])

                   Ng  count    percent  cumulative_count  cumulative_percent
0             Sarawak     82  13.376835                82           13.376835
1               Sabah     73  11.908646               155           25.285481
2               Perak     59   9.624796               214           34.910277
3            Selangor     56   9.135400               270           44.045677
4               Johor     56   9.135400               326           53.181077
5            Kelantan     45   7.340946               371           60.522023
6              Pahang     42   6.851550               413           67.373573
7        Pulau Pinang     40   6.525285               453           73.898858
8     Negeri Sembilan     36   5.872757               489           79.771615
9               Kedah     36   5.872757               525           85.644372
10         Terengganu     32   5.220228               557           90.864600
11             Melaka     28   4.567700               585           95.432300
12             Perlis     15   2.446982               600           97.879282
13  W.P. Kuala Lumpur     11   1.794454               611           99.673736
14     W.P. Putrajaya      1   0.163132               612           99.836868
15        W.P. Labuan      1   0.163132               613          100.000000